<header class="clearfix">
    <div class="logo-container">
        <a class="logo" href="#">Nagios <span class="emphasis">V-Shell</span></a>
        <a class="nav-button" id="nav-button-open" href="#">Open Navigation</a>
    </div>
    <div class="search-container">
        <form id="quicksearch" action="#" method="get">
            <input class="input" type="text" value="" placeholder="Quick Search" tabindex="1"/>
        </form>
    </div>
    <div class="info-container">
        <span class="logged-in-as">Logged in as Status</span><br/>
        <span class="last-update">Fri May 2 14:30:34 EDT 2014</span>
    </div>
</header>
