<header class="clearfix">
    <div class="logo-container">
        <a class="logo" href="#">Nagios <span class="emphasis">V-Shell</span></a>
        <a class="nav-button" id="nav-button-open" href="#">Open Navigation</a>
    </div>
    <div class="search-container" ng-controller="QuicksearchCtrl" ng-init="getQuicksearchData()">
        <form id="quicksearch" action="#" method="get">
            <input class="input" type="text" value="" placeholder="Quick Search" tabindex="1"/>
        </form>
    </div>
    <div class="info-container" ng-controller="StatusCtrl" ng-init="getStatus()">
        <span class="logged-in-as">Logged in as {{ status.username ? status.username : '...' }}</span><br/>
        <span class="last-update">{{ status.last_command_check ? (status.last_command_check * 1000 | date: 'EEE, MMM d, y H:mm:ss') : 'Updating...' }}</span>
    </div>
</header>
