<div ng-include="'frontend/partials/_header.html'"></div>

<div ng-include="'frontend/partials/_status.html'"></div>

<div ng-include="'frontend/partials/_browser.html'"></div>

<div ng-include="'frontend/partials/_messages.html'"></div>

<div id="content" class="clearfix">

    <h1>Nagios V-Shell Options</h1>

    <div class="text">

        <h3>Colorscheme</h3>

        <ul>
            <li><a class="colorscheme-choice" ng-href="#" title="colorscheme-dark">Dark</a></li>
            <li><a class="colorscheme-choice" ng-href="#" title="colorscheme-blue">Blue</a></li>
        </ul>

    </div>

</div>

<div ng-include="'frontend/partials/_footer.html'"></div>
