<div ng-include="'frontend/partials/_header.html'"></div>

<div ng-include="'frontend/partials/_status.html'"></div>

<div ng-include="'frontend/partials/_browser.html'"></div>

<div ng-include="'frontend/partials/_messages.html'"></div>

<div id="content" class="clearfix" ng-controller="ServicesCtrl" ng-init="init()">

    <div class="table-container full-width">

        <h1>Service Status Details For All Hosts</h1>

        <p class="subheading" ng-if="statefilter">Filtered by State <span class="state-{{ statefilter }}">{{ statefilter | capitalize }}</span></p>

        <p class="subheading" ng-if="problemsfilter">Filtered by {{ problemsfilter | capitalize }} Problems</p>

        <div class="table-options">
            <form action="" class="filter-form" method="post">
                <div class="filter-icon"></div>
                <input id="footable-filter" class="footable-filter" type="text" placeholder="Filter Table"/>
            </form>
            <div class="pagesize-container">
                Show <a class="active" ng-href="#" data-page-size="25">25</a> <a ng-href="#" data-page-size="100">100</a> <a ng-href="#" data-page-size="50000">All</a>
            </div>
            <div class="clearfix"></div>
        </div>

        <table cellspacing="0" cellpadding="0" class="footable" data-page-size="25" data-page-navigation="#footable-pagination" data-limit-navigation="5" data-filter="#footable-filter">
            <thead>
                <tr>
                    <th>Host</th>
                    <th>Service</th>
                    <th>Status</th>
                    <th data-hide="phone">Last Check</th>
                    <th data-hide="phone">Duration</th>
                    <th data-hide="phone">Attempts</th>
                    <th data-hide="phone">Status Information</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <td colspan="7">
                        <div class="results-count">{{ services | count }} Result{{ services | plural }}</div>
                        <div class="footable-pagination pagination" id="footable-pagination"></div>
                    </td>
                </tr>
            </tfoot>
            <tbody>
                <tr ng-if="(services | count) == 0">
                    <td colspan="7">{{ is_loading ? 'Loading...' : 'No services are defined' }}</td>
                </tr>
                <tr ng-repeat="service in services | orderObjectBy: 'host_name'" class="state-{{ service.current_state | servicestate | lowercase }}" footabledata>
                    <td host-entry item="service"></td>
                    <td service-entry item="service"></td>
                    <td class="status">{{ service.current_state | servicestate }}</td>
                    <td>{{ service.last_check * 1000 | date: 'yyyy-MM-dd H:mm:ss' }}</td>
                    <td>{{ service.last_state_change | ago }}</td>
                    <td>{{ service.current_attempt }} / {{ service.max_attempts }}</td>
                    <td>{{ service.plugin_output }}</td>
                </tr>
            </tbody>
        </table>

    </div>

</div>

<div ng-include="'frontend/partials/_footer.html'"></div>
